<h1>Input Report Data</h1>
<p>Add data on people in need and resources needed</p>

<%= simple_form_for [@client, @report], :url => client_report_index_path do |f| %>
  <%= f.input :location %>
  <%= f.input :livingcondition, :collection => ['Vehicle', 'Tent', 'Ground', 'Bridge/Overpass', 'Other'] %>
  <%= f.input :gender, :collection => ['Male', 'Female', 'Other'] %>
  <%= f.input :ethnicity, :collection => ['White', 'Black', 'Hispanic', 'Asian', 'Native American' 'Other'] %>
  <%= f.input :age, :collection => ['Under 18', '18-24', '25-40', '41-60', '60+', 'Unknown'] %>
  <%= f.input :needs %>
  <%= f.input :notes %>
  <%= f.button :submit %>
<% end %>

<div class="row">
  <%=link_to "Client List", client_index_path, :class=>"button"%>
</div>

<!--     add_column :reports, :livingcondition, :string
    add_column :reports, :gender, :string
    add_column :reports, :ethnicity, :string
    add_column :reports, :age, :string
    add_column :reports, :needs, :string -->
